/**
 * Styles to main
 * @author: Gustavo Maldonado
 * 
 */

.header {
  background-color: #000;
}
  .header .navbar-dark,
  .header .bg-dark {
    background-color: #000 !important;
  }


#carouselImages {
  position: relative;
}
  
#carouselImages .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

#carouselImages .overlay .container,
#carouselImages .overlay .row {
  height: 100%;
}